<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingli.inter.mapper.TUserMapper">
    <resultMap type="com.jingli.inter.entity.TUser" id="TUserMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="weixinOpenid" column="weixin_openid" jdbcType="VARCHAR"/>
        <result property="mobile" column="MOBILE" jdbcType="VARCHAR"/>
        <result property="roleId" column="ROLE_ID" jdbcType="DOUBLE"/>
        <result property="headImage" column="head_image" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
        <result property="realName" column="REAL_NAME" jdbcType="VARCHAR"/>
        <result property="cardId" column="CARD_ID" jdbcType="VARCHAR"/>
        <result property="departid" column="DEPARTID" jdbcType="VARCHAR"/>
        <result property="useraccount" column="USERACCOUNT" jdbcType="VARCHAR"/>
        <result property="userorder" column="USERORDER" jdbcType="DOUBLE"/>
        <result property="isvalid" column="ISVALID" jdbcType="CHAR"/>
        <result property="swryDm" column="SWRY_DM" jdbcType="VARCHAR"/>
        <result property="czryDm" column="CZRY_DM" jdbcType="VARCHAR"/>
        <result property="czryMc" column="CZRY_MC" jdbcType="VARCHAR"/>
        <result property="provincecode" column="PROVINCECODE" jdbcType="VARCHAR"/>
        <result property="regioncode" column="REGIONCODE" jdbcType="VARCHAR"/>
        <result property="zd" column="zd" jdbcType="VARCHAR"/>
        <result property="admin" column="admin" jdbcType="VARCHAR"/>
        <result property="zdmobile" column="zdmobile" jdbcType="VARCHAR"/>
        <result property="zdkssj" column="zdkssj" jdbcType="VARCHAR"/>
        <result property="zdjssj" column="zdjssj" jdbcType="VARCHAR"/>
        <result property="je" column="je" jdbcType="VARCHAR"/>
        <result property="shzt" column="shzt" jdbcType="CHAR"/>
        <result property="createtime" column="createtime" jdbcType="DATE"/>
        <result property="parkid" column="parkid" jdbcType="VARCHAR"/>
        <result property="unionId" column="union_id" jdbcType="VARCHAR"/>
        <result property="appOpenId" column="app_open_id" jdbcType="VARCHAR"/>
    </resultMap>

<!--    -->
    <select id="findByOpenId" resultMap="TUserMap">
        select
            ID,weixin_openid,MOBILE,ROLE_ID,head_image,user_name,PASSWORD,REAL_NAME,CARD_ID,DEPARTID,USERACCOUNT,USERORDER,ISVALID,SWRY_DM,CZRY_DM,CZRY_MC,PROVINCECODE,REGIONCODE,zd,admin,zdmobile,zdkssj,zdjssj,je,shzt,createtime,parkid,union_id,weixin_openid as "openId",app_open_id
        from t_user
        where weixin_openid = #{searchOpenId} limit 1
    </select>

<!--    -->
    <!--新增数据-->
    <insert id="insert" keyProperty="ID" useGeneratedKeys="true">
        insert into t_user(weixin_openid,MOBILE,ROLE_ID,head_image,user_name,PASSWORD,REAL_NAME,CARD_ID,DEPARTID,USERACCOUNT,USERORDER,ISVALID,SWRY_DM,CZRY_DM,CZRY_MC,PROVINCECODE,REGIONCODE,zd,admin,zdmobile,zdkssj,zdjssj,je,shzt,createtime,parkid,union_id,app_open_id)
        values (#{weixinOpenid},#{mobile},#{roleId},#{headImage},#{userName},#{password},#{realName},#{cardId},#{departid},#{useraccount},#{userorder},#{isvalid},#{swryDm},#{czryDm},#{czryMc},#{provincecode},#{regioncode},#{zd},#{admin},#{zdmobile},#{zdkssj},#{zdjssj},#{je},#{shzt},#{createtime},#{parkid},#{unionId},#{appOpenId})
    </insert>
    <!-- 更新数据 -->
    <update id="update">
        update t_user
        <set>
            <if test="id != null and id != ''">
                ID = #{id},
            </if>
            <if test="weixinOpenid != null and weixinOpenid != ''">
                weixin_openid = #{weixinOpenid},
            </if>
            <if test="mobile != null and mobile != ''">
                MOBILE = #{mobile},
            </if>
            <if test="roleId != null and roleId != ''">
                ROLE_ID = #{roleId},
            </if>
            <if test="headImage != null and headImage != ''">
                head_image = #{headImage},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="password != null and password != ''">
                PASSWORD = #{password},
            </if>
            <if test="realName != null and realName != ''">
                REAL_NAME = #{realName},
            </if>
            <if test="cardId != null and cardId != ''">
                CARD_ID = #{cardId},
            </if>
            <if test="departid != null and departid != ''">
                DEPARTID = #{departid},
            </if>
            <if test="useraccount != null and useraccount != ''">
                USERACCOUNT = #{useraccount},
            </if>
            <if test="userorder != null and userorder != ''">
                USERORDER = #{userorder},
            </if>
            <if test="isvalid != null and isvalid != ''">
                ISVALID = #{isvalid},
            </if>
            <if test="swryDm != null and swryDm != ''">
                SWRY_DM = #{swryDm},
            </if>
            <if test="czryDm != null and czryDm != ''">
                CZRY_DM = #{czryDm},
            </if>
            <if test="czryMc != null and czryMc != ''">
                CZRY_MC = #{czryMc},
            </if>
            <if test="provincecode != null and provincecode != ''">
                PROVINCECODE = #{provincecode},
            </if>
            <if test="regioncode != null and regioncode != ''">
                REGIONCODE = #{regioncode},
            </if>
            <if test="zd != null and zd != ''">
                zd = #{zd},
            </if>
            <if test="admin != null and admin != ''">
                admin = #{admin},
            </if>
            <if test="zdmobile != null and zdmobile != ''">
                zdmobile = #{zdmobile},
            </if>
            <if test="zdkssj != null and zdkssj != ''">
                zdkssj = #{zdkssj},
            </if>
            <if test="zdjssj != null and zdjssj != ''">
                zdjssj = #{zdjssj},
            </if>
            <if test="je != null and je != ''">
                je = #{je},
            </if>
            <if test="shzt != null and shzt != ''">
                shzt = #{shzt},
            </if>
            <if test="parkid != null and parkid != ''">
                parkid = #{parkid},
            </if>
            <if test="unionId != null and unionId != ''">
                union_id = #{unionId},
            </if>
            <if test="appOpenId != null and appOpenId != ''">
                app_open_id = #{appOpenId},
            </if>
        </set>
        where ID = #{id}
    </update>

</mapper>